<div class="section">
  <h1 class="section-title">
    Ultimele articole
  </h1>
  <%= render "shared/showcase", articles: @articles %>
</div>

<% Category.order(:name).each do |category| %>
  <% unless category.articles.empty? %>
    <div class="section">
      <a href="<%=category_path(category)%>" class="section-title">
        <%= category.name %>
        <small>mai multe</small>
      </a>
      <% category.articles.order(created_at: :desc).limit(3).each do |article| %>
        <%= render "shared/article_preview", article: article %>
      <% end %>
      </div>
  <% end %>
<% end %>
