<div class="showcase">
  <% @articles.limit(4).each do |article| %>
    <%= link_to article, class: "showcase_element" do %>
      <%= article.title %>
      <%= article.body %>
      <%= article.author.name %>
    <% end %>
  <% end %>
</div>
