<h1 class="section-title center-text banner">
  <%= @article.title %>
  <% if current_user and current_user.admin %>
      <%= link_to edit_article_path(@article) do %>
        <small>Editeaza</small>
      <% end %>
    <% end %>
</h1>

<div class="article-content">
  <% if @article.banner.attached? %>
    <%= image_tag @article.banner.variant(resize_to_fit: [nil,400]), class: "banner"%>
  <% end %>
  <%= @article.body %>
</div>
