/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --big-font: 3vw;
  --small-font: 2vw;
  --running-width: 70vw;
  --main-background-color: hsl(0, 0%, 90%);
  --header-background-color: #ffffff;
}

body {
  word-wrap: break-word;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 10fr auto;
  line-height: normal;
}

footer,
header {
  background-color: var(--header-background-color);
  box-shadow: 0px 0px 5px 0.5px grey;
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

header {
  z-index: 1;
  padding-bottom: 1rem;
  grid-column: 1 / 4;
  grid-area: header;
}

footer {
  padding-top: 1rem;
  grid-column: 1 / 2;
  grid-area: footer;
  width: 100%;
}

main {
  font-family: "Noticia Text", serif;
  margin: 0 auto;
  background-color: whitesmoke;
  grid-area: main;
  width: 100%;
}

.showcase {
  border: hidden;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 5vh auto;
  max-width: calc(80 / 100 * var(--running-width));
  max-height: calc(80 / 100 * var(--running-width));
}

.big {
  height: 50%;
  width: 100%;
}

.showcase-bar {
  height: 50%;
  display: flex;
  width: 100%;
}

.showcase-element {
  border: hidden;
  border-radius: 1vw;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  flex-direction: column;
  height: 100%;
  min-width: 33%;
  margin: 0 auto 0.5% auto;
  aspect-ratio: 16/9;
  position: relative;
  background-color: rgb(218, 218, 218);
  object-fit: contain;
}

.showcase-element-text {
  font-size: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border: hidden;
  border-radius: 1vw;
  background-color: rgba(189, 189, 189, 0.85);
}

.showcase-element-text p {
  margin: auto auto auto 10%;
  font-family: "Noticia Text", serif;
  font-weight: bold;
  color: black;
  font-size: 2vw;
  padding: 0.5vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
  line-height: normal;
}

.showcase-bar p {
  font-size: 1.5vmax;
}

p.author {
  font-size: 1vw;
  color: #333;
}

.big p {
  font-size: var(--big-font);
}

.big p.author {
  font-size: var(--small-font);
}

/* .showcase-element-banner {
  max-width: 100%;
  height: 100%;
  width: auto;

  display: block;
  margin: 0 auto;
} */

nav {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

h4 {
  margin: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: grey;
}

nav a {
  padding: 0.25rem 1rem;
  border-right: 2px hidden;
  border-left: 2px hidden;
}

a {
  color: black;
}

a:visited {
  color: black;
}

nav a:hover {
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  border-radius: 4px;
  color: grey;
}

.flex-col-centered {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.center {
  width: var(--running-width);
  margin: 0 auto;
}

.section-title {
  display: block;
  margin: 1% auto;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: var(--big-font);
  border-bottom: 2px solid grey;
}

#copyright {
  color: grey;
}

small {
  color: grey;
  font-size: var(--small-font);
}

.preview {
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin-bottom: 0.5rem;
  align-items: center;
  background-color: var(--main-background-color);
  border: hidden;
  border-radius: 2%;
  height: 25vmax;
}

.preview-text {
  text-align: justify;
  max-height: 100%;
  padding: 2%;
  width: 25%;
}

.title {
  font-weight: bold;
  font-size: 1.5vmax;
}

.preview-banner {
  height: 25vmax;
  width: 50%;
  object-fit: contain;
  border: hidden;
  border-radius: 2%;
  padding: 2%;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hor-cent {
  margin: auto;
}
