// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field {
  padding-bottom: 1vh;
  label {
    display: block;
    font-weight: bold;
    font-size: 2vw;
  }
}

.center-text {
  text-align: center;
}

.article-content {
  position: relative;
  object-fit: contain;
}
