// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field {
  padding-bottom: 1vh;
  label {
    display: block;
    font-weight: bold;
    font-size: 2vw;
  }
}

.center-text {
  text-align: center;
}

.article-content {
  position: relative;
  margin-bottom: 2%;

  .banner {
    position: sticky;
    width: 70vw;
    top: 2%;
    z-index: 0;
    border: hidden;
    border-radius: 2%;
  }

  .trix-content {
    box-shadow: 0px 0px 5px 0.5px whitesmoke;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: whitesmoke;
    padding: 5% 15%;
    img {
      border: hidden;
      border-radius: 2%;
    }
  }
}
