<div class="flex-col-centered">
  <%= link_to image_tag("logo.png", border: 0, alt: 'Revista Axa', width: '120vmax'), root_path, id: 'logo'  %>

  <nav>
    <div class="categories">
      <% Category.all.order(:name).each do |category| %>
        <%= link_to category.name, category_path(category.id) %>
      <% end %>
    </div>
  </nav>
</div>
